<a href="https://colab.research.google.com/github/Only-Mike/ADHD/blob/main/ADHD_semester_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!git clone 'https://github.com/Only-Mike/ADHD.git'

Cloning into 'ADHD'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 16 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (16/16), done.

In [4]:
data = pd.read_csv('/content/ADHD/datasets/KKI_phenotypic.csv')

In [5]:
data

,ScanDir ID,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,...,Performance IQ,Full2 IQ,Full4 IQ,Med Status,QC_Rest_1,QC_Rest_2,QC_Rest_3,QC_Rest_4,QC_Anatomical_1,QC_Anatomical_2
0,2371032,3,0,10.73,1,0,NaN,2,47,55,...,119,NaN,122,1,1,NaN,NaN,NaN,1,NaN
1,2026113,3,0,12.99,1,1,NaN,2,90,89,...,108,NaN,106,1,1,NaN,NaN,NaN,1,NaN
2,3434578,3,0,8.12,1,0,NaN,2,42,42,...,98,NaN,89,1,1,NaN,NaN,NaN,1,NaN
3,8628223,3,0,10.81,1,0,Simple phobia,2,42,49,...,86,NaN,97,1,1,NaN,NaN,NaN,1,NaN
4,1623716,3,0,12.65,1,1,NaN,2,87,90,...,88,NaN,89,1,1,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2360428,3,1,8.56,1,0,NaN,2,43,43,...,102,NaN,113,2,1,NaN,NaN,NaN,1,NaN
79,2903997,3,0,11.91,1,0,NaN,2,44,49,...,121,NaN,126,2,1,NaN,NaN,NaN,1,NaN
80,2703289,3,1,11.10,1,0,NaN,2,41,40,...,117,NaN,109,2,1,NaN,NaN,NaN,1,NaN
81,1577042,3,1,9.06,1,1,NaN,2,78,73,...,90,NaN,90,2,1,NaN,NaN,NaN,1,NaN
82,2621228,3,0,8.98,1,0,NaN,2,46,48,...,110,NaN,116,2,1,NaN,NaN,NaN,1,NaN

In [6]:
print(data.columns)

Index(['ScanDir ID', 'Site', 'Gender', 'Age', 'Handedness', 'DX',
       'Secondary Dx ', 'ADHD Measure', 'ADHD Index', 'Inattentive',
       'Hyper/Impulsive', 'IQ Measure', 'Verbal IQ', 'Performance IQ',
       'Full2 IQ', 'Full4 IQ', 'Med Status', 'QC_Rest_1', 'QC_Rest_2',
       'QC_Rest_3', 'QC_Rest_4', 'QC_Anatomical_1', 'QC_Anatomical_2'],
      dtype='object')

In [7]:
#making it into a pandas dataframe
df = pd.DataFrame(data) #making it into a pandas dataframe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ScanDir ID       83 non-null     int64
 1   Site             83 non-null     int64
 2   Gender           83 non-null     int64
 3   Age              83 non-null     float64
 4   Handedness       83 non-null     int64
 5   DX               83 non-null     int64
 6   Secondary Dx     15 non-null     object
 7   ADHD Measure     83 non-null     int64
 8   ADHD Index       83 non-null     int64
 9   Inattentive      83 non-null     int64
 10  Hyper/Impulsive  83 non-null     int64
 11  IQ Measure       83 non-null     int64
 12  Verbal IQ        83 non-null     int64
 13  Performance IQ   83 non-null     int64
 14  Full2 IQ         0 non-null      float64
 15  Full4 IQ         83 non-null     int64
 16  Med Status       83 non-null     int64
 17  QC_Rest_1        83 non-null     int64
 18  QC_Rest_2        0 non-null      float64
 19  QC_Rest_3        0 non-null      float64
 20  QC_Rest_4        0 non-null      float64
 21  QC_Anatomical_1  83 non-null     int64
 22  QC_Anatomical_2  0 non-null      float64
dtypes: float64(6), int64(16), object(1)
memory usage: 15.0+ KB

In [9]:
#dropping unrelevant columns
df = df.drop(columns = ['Site', 'ADHD Measure', 'IQ Measure', 'Secondary Dx ', 'Full2 IQ', 'QC_Rest_1', 'QC_Rest_2', 'QC_Rest_3', 'QC_Rest_4', 'QC_Anatomical_1', 'QC_Anatomical_2'])

In [10]:
#the remaining columns
df.columns

Index(['ScanDir ID', 'Gender', 'Age', 'Handedness', 'DX', 'ADHD Index',
       'Inattentive', 'Hyper/Impulsive', 'Verbal IQ', 'Performance IQ',
       'Full4 IQ', 'Med Status'],
      dtype='object')

In [11]:
df.info() #There is zero null values left in the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ScanDir ID       83 non-null     int64
 1   Gender           83 non-null     int64
 2   Age              83 non-null     float64
 3   Handedness       83 non-null     int64
 4   DX               83 non-null     int64
 5   ADHD Index       83 non-null     int64
 6   Inattentive      83 non-null     int64
 7   Hyper/Impulsive  83 non-null     int64
 8   Verbal IQ        83 non-null     int64
 9   Performance IQ   83 non-null     int64
 10  Full4 IQ         83 non-null     int64
 11  Med Status       83 non-null     int64
dtypes: float64(1), int64(11)
memory usage: 7.9 KB

In [12]:
df.describe() #We have some false values in the following columns: ADHD Index, Inattentive and Hyper/Impulsive

,ScanDir ID,Gender,Age,Handedness,DX,ADHD Index,Inattentive,Hyper/Impulsive,Verbal IQ,Performance IQ,Full4 IQ,Med Status
count,8.300000e+01,83.000000,83.000000,83.000000,83.00000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000
mean,3.449295e+06,0.554217,10.243253,0.927711,0.39759,14.963855,15.265060,15.734940,113.060241,108.686747,110.012048,1.180723
std,2.098556e+06,0.500073,1.346601,0.303762,0.79541,198.036178,198.098958,198.141738,14.693909,11.995861,11.935287,0.387128
min,1.018959e+06,0.000000,8.020000,0.000000,0.00000,-999.000000,-999.000000,-999.000000,81.000000,79.000000,85.000000,1.000000
25%,2.005148e+06,0.000000,9.100000,1.000000,0.00000,42.000000,42.000000,43.000000,104.000000,102.000000,101.500000,1.000000
50%,2.768273e+06,1.000000,10.120000,1.000000,0.00000,46.000000,48.000000,48.000000,112.000000,108.000000,111.000000,1.000000
75%,3.915209e+06,1.000000,11.095000,1.000000,1.00000,61.000000,60.000000,59.500000,121.500000,119.000000,119.000000,1.000000
max,9.922944e+06,1.000000,12.990000,2.000000,3.00000,90.000000,90.000000,90.000000,146.000000,137.000000,134.000000,2.000000

In [13]:
#Round age for fewer unique values and making into integer
df['Age'] = df['Age'].round(decimals = 0)
df['Age'] = df['Age'].astype(int)

In [14]:
#Removes rows with -999 in the following columns
df = df[df['Inattentive'] != -999]
df = df[df['Hyper/Impulsive'] != -999]
df = df[df['ADHD Index'] != -999]

In [15]:
#Previous code removed only 3 rows
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 82
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ScanDir ID       80 non-null     int64
 1   Gender           80 non-null     int64
 2   Age              80 non-null     int64
 3   Handedness       80 non-null     int64
 4   DX               80 non-null     int64
 5   ADHD Index       80 non-null     int64
 6   Inattentive      80 non-null     int64
 7   Hyper/Impulsive  80 non-null     int64
 8   Verbal IQ        80 non-null     int64
 9   Performance IQ   80 non-null     int64
 10  Full4 IQ         80 non-null     int64
 11  Med Status       80 non-null     int64
dtypes: int64(12)
memory usage: 8.1 KB

In [16]:
#But as we can see with the min function, it removed the false values of -999
df.min()

ScanDir ID         1018959
Gender                   0
Age                      8
Handedness               0
DX                       0
ADHD Index              40
Inattentive             40
Hyper/Impulsive         41
Verbal IQ               81
Performance IQ          79
Full4 IQ                85
Med Status               1
dtype: int64

## Because of the low amount of rows we will use SDV (Synthetic Data Vault) to create additonal rows for our models to train on

In [17]:
pip install sdv -q

WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.7/dist-packages)

In [18]:
from sdv.tabular import GaussianCopula
model = GaussianCopula()
model.fit(df)

In [19]:
#Creating the synthetic data
synthetic_data = model.sample(500)
synthetic_data.head()

,ScanDir ID,Gender,Age,Handedness,DX,ADHD Index,Inattentive,Hyper/Impulsive,Verbal IQ,Performance IQ,Full4 IQ,Med Status
0,2385467,1,10,1,1,55,63,55,110,88,114,1
1,2761442,0,11,1,2,89,90,86,122,115,122,1
2,4426376,0,9,1,0,59,54,51,127,104,112,2
3,2716979,1,11,0,0,50,44,49,130,104,104,1
4,2016838,1,10,1,2,63,61,54,133,136,131,1

In [20]:
#Checking the number of unique values in each column to see if something seems odd
synthetic_data.nunique()

ScanDir ID         500
Gender               2
Age                  6
Handedness           3
DX                   4
ADHD Index          48
Inattentive         49
Hyper/Impulsive     47
Verbal IQ           63
Performance IQ      57
Full4 IQ            50
Med Status           2
dtype: int64

In [21]:
#Appending the synthetic data to the original df
df = df.append([synthetic_data])

In [22]:
#There is now 580 rows each with a unique id
df.nunique()

ScanDir ID         580
Gender               2
Age                  6
Handedness           3
DX                   4
ADHD Index          50
Inattentive         50
Hyper/Impulsive     49
Verbal IQ           64
Performance IQ      58
Full4 IQ            50
Med Status           2
dtype: int64